<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>JayG Coding Exam</title>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="CodingExam.styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode=RenderMode.InteractiveServer />
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/languages/csharp.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/languages/css.min.js"></script>
    <script>
        window.highlightSnippet = function () {
            document.querySelectorAll('pre').forEach((el) => {
                hljs.highlightBlock(el);
            });
        }
        window.triggerInput = function () {
            document.querySelectorAll('textarea').forEach((el) => {
                el.dispatchEvent(new Event("input"))
            });
        }
    </script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
