body {
    padding-left: 10px;
    font-size:1.1em;
}

body, #startButton, .code, #run, #submit {
    font-family: monospace;
    background: #f3f3f3;
    color: #444;
}

#startButton, #run, #submit {
    font-size: 1em;
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
}
#startButton:disabled, #run:disabled, #submit:disabled {
    color: darkgray;
    cursor: default;
}

.code {
    margin-left: 10px;
    border: 1px solid #999;
    padding: 10px 10px 0 10px;
    font-size: 1em;
    resize: both;
    height: auto;
}

#side {
    position: fixed;
    left: 690px;
    padding: 5px;
    white-space: pre-line;
    background: #f3f3f3;
    z-index: 999;
}
#control{
    white-space:normal;
    margin-bottom:-5px;
}

.startMessage {
    margin-bottom: 10px;
}